/*Button {
   highlightAlphas: 1, 0.33;
   fillAlphas: 1, 0.16, 0.18, 1;
   fillColors:  #ffffff, #3f3f3f;
}*/
Panel {
	headerHeight: 22;
	headerColors: #f0f0f0, #e8e8e8;
	
	drop-shadow-enabled:false;
	background-color:#e8e8e8;
	
	roundedBottomCorners: true;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessLeft: 3;
	borderThicknessRight: 3;
	borderAlpha: 1.0;
	titleStyleName: "mypanelTitle";

	verticalScrollPolicy: off;
	horizontalScrollPolicy: off;
}
.resultList {
	headerColors: #c8c8c8, #a8a8a8;
	borderColor: #a8a8a8;
}
.mypanelTitle {
	/*fontFamily: Arial;*/
	textIndent: 0; /*5;*/
	fontSize: 10;
	/*fontWeight: bold;*/
}
.closeBtn {
	upSkin:        Embed('/assets/img/closeButton.png');
	overSkin:      Embed('/assets/img/closeButton.png');
	downSkin:      Embed('/assets/img/closeButton.png');
	disabledSkin:  Embed('/assets/img/closeButton.png');
}
/**/
.decreaseBtn {
	upSkin:        Embed('/assets/img/decreaseButton.png');
	overSkin:      Embed('/assets/img/decreaseButton.png');
	downSkin:      Embed('/assets/img/decreaseButton.png');
	disabledSkin:  Embed('/assets/img/decreaseButton.png');
}
.increaseBtn {
	upSkin:        Embed('/assets/img/decreaseButton.png');
	overSkin:      Embed('/assets/img/decreaseButton.png');
	downSkin:      Embed('/assets/img/decreaseButton.png');
	disabledSkin:  Embed('/assets/img/decreaseButton.png');
}
.minimizeBtn {
	upSkin:        Embed('/assets/img/minimizeButton.png');
	overSkin:      Embed('/assets/img/minimizeButton.png');
	downSkin:      Embed('/assets/img/minimizeButton.png');
	disabledSkin:  Embed('/assets/img/minimizeButton.png');
}
.rollUpBtn {
	upSkin:        Embed('/assets/swf/assets.swf', 'down_arrow');
	overSkin:      Embed('/assets/swf/assets.swf', 'down_arrow');
	downSkin:      Embed('/assets/swf/assets.swf', 'down_arrow');
	disabledSkin:  Embed('/assets/swf/assets.swf', 'down_arrow');
}
.rollDownBtn {
	upSkin:        Embed('/assets/swf/assets.swf', 'right_arrow');
	overSkin:      Embed('/assets/swf/assets.swf', 'right_arrow');
	downSkin:      Embed('/assets/swf/assets.swf', 'right_arrow');
	disabledSkin:  Embed('/assets/swf/assets.swf', 'right_arrow');
}
.resizeHndlr {
	upSkin:        Embed('/assets/img/resizeHandler.png');
	overSkin:      Embed('/assets/img/resizeHandler.png');
	downSkin:      Embed('/assets/img/resizeHandler.png');
	disabledSkin:  Embed('/assets/img/resizeHandler.png');
}
.pinBtn {
	upSkin:        Embed('/assets/img/pin3.png');
	overSkin:      Embed('/assets/img/pin3.png');
	downSkin:      Embed('/assets/img/pin3.png');
	disabledSkin:  Embed('/assets/img/pin3.png');
}
.unpinBtn {
	upSkin:        Embed('/assets/img/unpin1.png');
	overSkin:      Embed('/assets/img/unpin1.png');
	downSkin:      Embed('/assets/img/unpin1.png');
	disabledSkin:  Embed('/assets/img/unpin1.png');
}

.allBtn{
	paddingLeft:	0;
	paddingRight:	0;
	paddingTop:		0;
	paddingButton:	0;
	fontWeight: 	middle;
}

.closeColumnBtn {
	upSkin:        Embed('/assets/swf/assets.swf', 'firefox_close_up');
	overSkin:      Embed('/assets/swf/assets.swf', 'firefox_close_over');
	downSkin:      Embed('/assets/swf/assets.swf', 'firefox_close_down');
	disabledSkin:  Embed('/assets/swf/assets.swf', 'firefox_close_down');
}

.myHeaderText{
	color: #3f3f3f;
	fontSize: 9;
	fontWeight: middle;
	fontStyle: italic;
	padding-left: 5;
}