/*Button {
   highlightAlphas: 1, 0.33;
   fillAlphas: 1, 0.16, 0.18, 1;
   fillColors:  #ffffff, #3f3f3f;
}*/
Panel {
	headerHeight: 22;
	headerColors: #f0f0f0, #e8e8e8;
	
	drop-shadow-enabled:false;
	background-color:#e8e8e8;
	
	roundedBottomCorners: true;
	borderThicknessTop: 0;
	borderThicknessBottom: 3;
	borderThicknessLeft: 3;
	borderThicknessRight: 3;
	borderAlpha: 1.0;
	titleStyleName: "mypanelTitle";

	verticalScrollPolicy: off;
	horizontalScrollPolicy: off;
}
.resultList {
	headerColors: #c8c8c8, #a8a8a8;
	borderColor: #a8a8a8;
}
.mypanelTitle {
	/*fontFamily: Arial;*/
	textIndent: 0; /*5;*/
	fontSize: 10;
	/*fontWeight: bold;*/
}
.closeBtn {
	upSkin:        Embed('../img/closeButton.png');
	overSkin:      Embed('../img/closeButton.png');
	downSkin:      Embed('../img/closeButton.png');
	disabledSkin:  Embed('../img/closeButton.png');
}
/**/
.decreaseBtn {
	upSkin:        Embed('../img/decreaseButton.png');
	overSkin:      Embed('../img/decreaseButton.png');
	downSkin:      Embed('../img/decreaseButton.png');
	disabledSkin:  Embed('../img/decreaseButton.png');
}
.increaseBtn {
	upSkin:        Embed('../img/decreaseButton.png');
	overSkin:      Embed('../img/decreaseButton.png');
	downSkin:      Embed('../img/decreaseButton.png');
	disabledSkin:  Embed('../img/decreaseButton.png');
}
.minimizeBtn {
	upSkin:        Embed('../img/minimizeButton.png');
	overSkin:      Embed('../img/minimizeButton.png');
	downSkin:      Embed('../img/minimizeButton.png');
	disabledSkin:  Embed('../img/minimizeButton.png');
}
.rollUpBtn {
	upSkin:        Embed('../swf/assets.swf', 'down_arrow');
	overSkin:      Embed('../swf/assets.swf', 'down_arrow');
	downSkin:      Embed('../swf/assets.swf', 'down_arrow');
	disabledSkin:  Embed('../swf/assets.swf', 'down_arrow');
}
.rollDownBtn {
	upSkin:        Embed('../swf/assets.swf', 'right_arrow');
	overSkin:      Embed('../swf/assets.swf', 'right_arrow');
	downSkin:      Embed('../swf/assets.swf', 'right_arrow');
	disabledSkin:  Embed('../swf/assets.swf', 'right_arrow');
}
.resizeHndlr {
	upSkin:        Embed('../img/resizeHandler.png');
	overSkin:      Embed('../img/resizeHandler.png');
	downSkin:      Embed('../img/resizeHandler.png');
	disabledSkin:  Embed('../img/resizeHandler.png');
}
.pinBtn {
	upSkin:        Embed('../img/pin3.png');
	overSkin:      Embed('../img/pin3.png');
	downSkin:      Embed('../img/pin3.png');
	disabledSkin:  Embed('../img/pin3.png');
}
.unpinBtn {
	upSkin:        Embed('../img/unpin1.png');
	overSkin:      Embed('../img/unpin1.png');
	downSkin:      Embed('../img/unpin1.png');
	disabledSkin:  Embed('../img/unpin1.png');
}

.allBtn{
	paddingLeft:	0;
	paddingRight:	0;
	paddingTop:		0;
	paddingButton:	0;
	fontWeight: 	middle;
}

.closeColumnBtn {
	upSkin:        Embed('../swf/assets.swf', 'firefox_close_up');
	overSkin:      Embed('../swf/assets.swf', 'firefox_close_over');
	downSkin:      Embed('../swf/assets.swf', 'firefox_close_down');
	disabledSkin:  Embed('../swf/assets.swf', 'firefox_close_down');
}

.myHeaderText{
	color: #3f3f3f;
	fontSize: 9;
	fontWeight: middle;
	fontStyle: italic;
	padding-left: 5;
}



.linkButtonWindowShade {
	headerClass:ClassReference('mx.controls.LinkButton');
	header-style-name: linkButtonStyle;
 
	drop-shadow-enabled:false;
	
	corner-radius:0;
	border-style:solid;
	
	background-color:#f8f8f8;
	background-alpha:.8;
}         

.linkButtonStyle {
	corner-radius:0;	
	fontWeight: middle;
	padding-left:10;
}

.myComboBoxDropdown {
	dropShadowEnabled: true;
	shadowDistance: 3;
	shadowDirection: "right";
}


.myButtonStyle1 {
	color: #3f3f3f;
	fontSize: 9;
	fontWeight: bold;
}

.myButtonStyle2 {
	color: #3f3f3f;
	fontSize: 9;
	fontWeight: middle;
	fontStyle: italic;
}

.myButtonStyle3 {
	color: #3f3f3f;
	
	fontSize: 9;
	fontWeight: middle;
}

.myButtonStyle3big {
	color: #3f3f3f;
	
	fontSize: 12;
	fontWeight: middle;
}

.myButtonStyle4 {
	color: #3f3f3f;
	fontSize: 10;
	fontWeight: middle;
	corner-radius:0;
}




.myHeadline2Style {
	color: #3f3f3f;
	fontSize: 9;
	fontWeight: bold;
}

.myHeadline3Style {
	color: #3f3f3f;
	fontSize: 9;
}

.leftControl {
	background-color: #cccccc;
	border-thickness: 1;
	border-color: #000000;
}

.myToggleButtonStyle {
	fontSize: 9;
	fontWeight: middle;
	padding-top:0;
	padding-bottom:0;
	padding-right:0;
	padding-left:0;
}